:root {
  --clr1: rgb(255, 107, 107);
  --clr2: rgb(78, 205, 196);
  --clr1bg: rgb(255, 240, 240);
  --clr2bg: rgb(240, 253, 252);
  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);
}